<div class="main-container">
  <div>
    <app-menu-lateral></app-menu-lateral>
    <div>
      <div>
        <div>
          <h2>Editar Modelos</h2>
        </div>
        <div>
          <button type="button" class="btn btn-primary" (click)="atualizarSubmit()">Atualizar</button>
        </div>
        <div>
          <button type="button" class="btn btn-primary">Cancelar</button>
        </div>
        <div>
          <button type="button" class="btn btn-primary">Excluir</button>
        </div>
      </div>
      <div>
        <form action="submit" [formGroup]="myForm">
          <div>
            <input
              type="text"
              placeholder="Nome do modelo"
              formControlName="nomeModelo"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="Responsável pelo Modelo"
              formControlName="responsavelmodelo"
            />
          </div>
          <div>
            <form [formGroup]="myForm">
              <select name="tipoModelo" id="tipoModelo" formControlName="tipoModelo">
                <option value="Bermuda">Bermuda</option>
                <option value="Biquini">Biquini</option>
                <option value="Meia">Meia</option>
                <option value="Chapéu">Chapéu</option>
                <option value="Calça">Calça</option>
                <option value="Camiseta">Camiseta</option>
                <option value="Vestido">Vestido</option>
                <option value="Saia">Saia</option>
              </select>
            </form>
          </div>
          <div>
            <p>Possui Bordado</p>
            <label for="possuiBordado-sim">
              <input type="radio"  name="possuiBordado" value="sim" formControlName="possuiBordado">
              Sim
            </label>
            <label for="possuiBordado-nao">
              <input type="radio" id="possuiBordado-nao" name="possuiBordado" value="nao" formControlName="possuiBordado">
              Não
            </label>
          </div>
          <div>
            <p>Possui Estampa</p>
            <label for="possuiEstampa-sim">
              <input type="radio" id="possuiEstampa-sim" name="possuiEstampa" value="sim" formControlName="possuiEstampa">
              Sim
            </label>
            <label for="possuiEstampa-nao">
              <input type="radio" id="possuiEstampa-nao" name="possuiEstampa" value="nao" formControlName="possuiEstampa" >
              Não
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
