<div class="main-container">
  <div>
    <app-menu-lateral></app-menu-lateral>
    <div>
      <div>
        <div>
          <h2>Coleções</h2>
        </div>
        <div>
          <button type="button" class="btn btn-primary">Atualizar</button>
        </div>
        <div>
          <button type="button" class="btn btn-primary">Cancelar</button>
        </div>
        <div>
          <button type="button" class="btn btn-primary">Excluir</button>
        </div>
      </div>
      <div>
        <form action="submit" [formGroup]="myForm">
          <div>
            <input
              type="text"
              placeholder="Nome da coleção"
              formControlName="nomeColecao"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="Responsável pela coleção"
              formControlName="responsavelColecao"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="Para qual estação?"
              formControlName="estacao"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="Para qual marca você está criando?"
              formControlName="marca"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="Qual é o orçamento desta coleção"
              formControlName="orcamento"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="Ano de lançamento"
              formControlName="anoLancamento"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
