<div class="main-container">
  <div class="center-container">
    <div>Criar Modelo</div>
    <app-menu-lateral></app-menu-lateral>
    <form action="submit" [formGroup]="myForm">
      <div class="row">
        <div class="col-6">
          <div>
            <input type="text" placeholder="Nome do Modelo" formControlName="nomeModelo" />
          </div>
          <div>
            <input type="text" placeholder="Tipo do Modelo" formControlName="tipoModelo" />
          </div>
          <div>
            <select formControlName="selecionarColecao" (change)="atualizarSelecionarColecao($event)">
              <option disabled selected>Selecione uma opção</option>
              <option *ngFor="let colecao of colecoes" [value]="colecao">{{ colecao }}</option>
            </select>
          </div>
        </div>
        <div>
          <div>
            <p>Possui Bordado</p>
            <label for="possuiBordado-sim">
              <input type="radio"  name="possuiBordado" value="sim" formControlName="possuiBordado">
              Sim
            </label>
            <label for="possuiBordado-nao">
              <input type="radio" id="possuiBordado-nao" name="possuiBordado" value="nao" formControlName="possuiBordado">
              Não
            </label>
          </div>
          <div>
            <p>Possui Estampa</p>
            <label for="possuiEstampa-sim">
              <input type="radio" id="possuiEstampa-sim" name="possuiEstampa" value="sim" formControlName="possuiEstampa">
              Sim
            </label>
            <label for="possuiEstampa-nao">
              <input type="radio" id="possuiEstampa-nao" name="possuiEstampa" value="nao" formControlName="possuiEstampa" >
              Não
            </label>
          </div>
        </div>
      </div>
    </form>
    <div class="buttons">
      <div class="position-relative float-end">
        <button class="btn btn-primary" type="submit" (click)="onSubmit()">Criar Modelo</button>
      </div>
      <div>
        <button class="btn btn-primary" routerLink="/home">Cancelar</button>
      </div>
    </div>
  </div>
  <div></div>
</div>
