<div>
  <app-menu-lateral></app-menu-lateral>
  <div class="container h-100 justify-content-center col-md-8">
    <div class="float-center">
      <div>
        <div>
          <h2>Coleções</h2>
        </div>
        <div class="position-relative">
          <div class="float-end">
            <button
              type="button"
              class="btn btn-primary"
              routerLink="/criarcolecao"
            >
              Criar Coleção
            </button>
          </div>
        </div>
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Coleção</th>
                <th scope="col">Responsável</th>
                <th scope="col">Modelos</th>
                <th scope="col">Orçamento</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let colecao of modelos.slice(0,5)" (click)="onClick(colecao)">  
                <td>{{colecao.colecao }}</td>
                <td>{{colecao.responsavel}}</td>
                <td>{{colecao.modelos}}</td>
                <td>{{colecao.orcamento}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

```