<div class="main-container">
  <div>
    <app-menu-lateral></app-menu-lateral>
    <div class="dashboard">
      <app-card-dashboard
        [cardTitle]="cardTitleColecoes"
        [cardValue]="colecoesCardValue"
      ></app-card-dashboard>
      <app-card-dashboard
        [cardTitle]="cardTitleModelos"
        [cardValue]="modelosCardValue"
      ></app-card-dashboard>
      <app-card-dashboard
        [cardTitle]="cardTitleOrcamento"
        [cardValue]="OrcamentoCardValue"
      ></app-card-dashboard>
    </div>
    <div>
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ColeçãoId</th>
              <th scope="col">Nome Da Coleção</th>
              <th scope="col">Orçamento</th>
              <th scope="col">Responsável</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let colecao of colecoes">
              <td>{{ colecao.id }}</td>
              <td>{{ colecao.nomeColecao }}</td>
              <td>{{ colecao.orcamento }}</td>
              <td>{{ colecao.responsavelColecao }}</td>
            </tr>
            <tr *ngIf="!colecoes || colecoes.length == 0">
              <td colspan="4">Nenhum resultado encontrado.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
